.navmert {
  background-color: #e6ddee;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  align-items: center;
  padding-left: 550px;
}
.navmerth1 {
  text-align: center;
  margin-bottom: 0px;
  color: black;
  background-color: #e6ddee;
  font-family: Georgia, "Times New Roman", Times, serif;
}
